.bottom{
    color: #EEE;
    background: #E94560;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
}

.bottom__h2{
    margin: 2rem;
}

.bottom__projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 1rem;
}

.bottom__hr{ 
    margin: 2rem;
    width: 50rem;
    border: 0.4rem solid #EEE;
    border-radius: 10rem;
}