.section__wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.contact__inputSection {
    background: #E94560;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 5rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
}

.contact__title {
    color: #EEE;
    font-size: 160%;
    margin-bottom: 1rem;
}

.contact__text {
    height: 6rem;
    width: 60rem;
    text-align: center;
    border-radius: 0.4rem;
    border-style: solid;
    font-size: 100%;
    margin-bottom: 4rem;
    transition: 0.3s;
}

.contact__text:hover {
    scale: 1.02;
}

.contact__button {
    border-radius: 0.5rem;
    font-size: 160%;
    height: 6rem;
    width: 28rem;
    border: none;
    background-color: #003A9B;
    color: #EEE;
    transition: 0.3s;
}

.contact__button:hover {
    scale: 1.02;
    background: #1c5ac4;
}