.footer {
    width: 100%;
    height: 15rem;
    color: #EEE;
    padding: 1rem;
    font-size: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-links{
    color: #EEE;
}