.about{
    background: #E94560;
    width: 130rem;
    display: flex;
    padding: 5rem;
    border-radius: 5rem;
    margin: 5rem;
    color: #EEE;
    gap: 5rem;
}

.about__image{
    max-width: 50rem;
    border-radius: 5rem;
}

.about__text{
    font-size: 90%;
    margin-top: 15rem;
}